<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link rel="stylesheet" href="/static/css/loginPage.css">
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
          rel="stylesheet">
</head>
<body>
<div class="outermost"></div>
<div class="container">
    <h1 class="login_title noto-sans-kr-900">Login</h1>
    <p class="login_top_text noto-sans-kr-100">로그인을 하시고 더 많은 서비스를 누리세요.</p>
    <ul class="login_line">
        <li>
            <div class="login_layout login_layout_input">
                <img class="inputImg" src="/static/iconSvg/person.svg" alt="">
                <input class="login_line_input noto-sans-kr-500" type="text" placeholder="아이디를 입력해주세요." id="idInput">
            </div>
        </li>
        <li>
            <div class="login_layout login_layout_input">
                <img class="inputImg" src="/static/iconSvg/lock.svg" alt="">
                <input class="login_line_input noto-sans-kr-500" type="password" placeholder="비밀번호를 입력해주세요.">
            </div>
        </li>
        <li>
            <div class="login_layout login_layout_btn">
                <button class="login_line_btn">Login In</button>
            </div>
        </li>
    </ul>
    <p class="login_bottom_text noto-sans-kr-100">계정이 없으신가요? <a href="#">회원가입</a></p>
</div>
<script>
    window.onload = () => {
        document.querySelector(".container").classList.add("active");
        document.querySelector("#idInput").focus();
    }
</script>
</body>
</html>