<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <title th:text="${title}"></title>
    <link
            href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poor+Story&display=swap"
            rel="stylesheet">
    <link rel="stylesheet" href="/static/css/maincss/mainPage.css">
</head>

<body>

<div>
    <li class="container">
        <ul class="tabMenu">
            <li>
                <nav role="navigation">
                    <div class="hamburger">
                        <img src="/static/iconSvg/menu_28dp_5F6368.svg" alt="">
                    </div>

                    <ul class="nav-menu">
                        <img class="close_btn" src="/static/iconSvg/close_28dp_5F6368.svg" alt="">
                        <li class="nav-item">
                            <a href="" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link">Login</a>
                        </li>
                    </ul>
                </nav>
            </li>
            <li>
                <div class="tabStar">
                    <img class="starImg" src="/static/iconSvg/star_border_28dp_5F6368.svg" alt="">
                </div>
            </li>
        </ul>
        <div class="over"></div>
        <div class="map" id="map"></div>
        <div class="overlay">
            <input class="mapSreach noto-sans-kr" type="text" placeholder="지역 검색">
            <button class="sarch_btn"><img src="/static/iconSvg/search_20dp_5F6368.svg" alt=""></i></button>
        </div>
</div>
</div>

<!-- 자바 스크립트 api와 파일 -->
<script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=eb2cde2cbeff757b6cdf78846ce372ed"></script>
<script src="/static/js/mapjs/map.js"></script>
</body>

</html>