<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <title th:text="${title}"></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.0/css/font-awesome.css"
        integrity="sha512-72McA95q/YhjwmWFMGe8RI3aZIMCTJWPBbV8iQY3jy1z9+bi6+jHnERuNrDPo/WGYEzzNs4WdHNyyEr/yXJ9pA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/css/maincss/mainPage.css">
</head>

<body>

    <div>
        <div class="container">
            <div class="tabMenu">
                <div class="manubar">
                    <nav role="navigation">
                        <ul class="nav-menu">
                            <i class="fa fa-times fa-2x close_btn" aria-hidden="true"></i>
                            <li class="nav-item">
                                <p><a href="" class="nav-link">Home</a></p>
                            </li>
                            <li class="nav-item">
                                <p><a href="" class="nav-link">Login</a></p>
                            </li>
                            <li>
                                <p th:text="${Name}"></p>
                            </li>

                        </ul>

                        <div class="hamburger">
                            <span class="bar"></span>
                            <span class="bar"></span>
                            <span class="bar"></span>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="map" id="map"></div>
            <!-- <div class="overlay">
            <input class="mapSreach" type="text">
        </div> -->
        </div>
    </div>

    <!-- 자바 스크립트 api와 파일 -->
    <script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=eb2cde2cbeff757b6cdf78846ce372ed"></script>
    <script src="/static/js/mapjs/map.js"></script>
</body>

</html>