<header th:fragment="header" id="header">
    <div class="header_inner">
        <div>
            <a href="#">로고</a>
        </div>
        <div class="header_mainName">
            <span>population flow map</span>
        </div>
        <div class="header_manubar">
            <nav role="navigation">
                <ul class="nav-menu">
                    <li class="nav-item">
                        <a href="" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link">MapPage</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link">Login</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link">More</a>
                    </li>
                </ul>

                <div class="header_hamburger">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
            </nav>
        </div>
    </div>
</header>